name: deploy to mkdocs

# the two different ways to trigger the workflow
on:
  # enable manual trigger button in github actions web
  workflow_dispatch:

  # enable auto trigger based on both path and branch
  push:

    # only main branch
    branches:
      - main

    # at least one changed file must match this path
    paths:
      - "docs/**"

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  deploy:
    if: github.repository_owner == 'aws-samples'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x
          cache: pip
      - run: pip install mkdocs-material mkdocs-static-i18n==1.2.0
      - run: mkdocs gh-deploy --force
